<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AT FAQ/Help Page</title>
    <link rel="icon" type="image/png" href="images/planning.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/faq.css">

    <script src="/js/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>        
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>Futures Wheel FAQ <small>Futures Wheel Frequently Asked Questions</small></h1>
</div>

<!-- Bootstrap FAQ - START -->
<div class="container">
    <!<br />
    <!<br />
    <!<br />

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        This section contains information, related to <strong>Anticipatory Thinking, Futures Wheel and its application</strong>. If you cannot find an answer to your question, 
        please contact LAS or the project owners. 
    </div>

    <!<br />

    <div class="panel-group" id="accordion">
        <div class="faqHeader">General terminologies</div>                
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What is Anticipatory Thinking?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    Anticipatory Thinking (AT) is the process of recognizing and preparing for future outcomes; it is a systematic method for thinking about events, actions, and consequences. It is a form of sensemaking, wherein the possible consequences of an event are articulated.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">What is the Futures Wheel?</a>
                </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="panel-body">
                    The Future wheel is a method for brainstorming and graphical visualisation of direct and indirect future consequences of a particular change or development.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">What are policies?</a>
                </h4>
            </div>
            <div id="collapseFourteen" class="panel-collapse collapse">
                <div class="panel-body">
                    Policies respond to and fulfill one or more of the cities vision themes. Policies provide general guidance for decision-makers and help direct the City towards achieving the guiding themes. Policies are generally open ended as to time frame, as they provide ongoing direction.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">What are consequences?</a>
                </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse">
                <div class="panel-body">
                    A consequence is a result or effect of an action or event.
                </div>
            </div>
        </div>
        

        <div class="faqHeader">Instructions to Use the Tool</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How do I create the first node (i.e. the central event)?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    The user has to click the "Create Project" on the left sidebar. This will prompt the user to enter a new project name and the main event for the project whose consequences are to be explored using Anticipatory Thinking.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How do I create additional consequence notes?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    To create a new consequence, the user has to right click on the consequence for which he/she wishes to add a new child consequence. This will open a context menu in which the option to create a new consequence exists. Click that will again open a new prompt where the user can enter the details of the new consequence.                    
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How can I access my saved projects?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    There is a "Load Project" option in the left sidebar which when clicked opens a list of saved items for the logged in user. Clicking on ant project item on the list will automatically load the project into the workspace for further editting and modifications.
                    <br />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">How do I add new policies?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    The user can click the "Add Policy" option in the left sidebar to open a prompt dialog wherein they can enter details of the policies to be added to the application or tool.                    
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">How can I export?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    There is a "Export Project" option in the left sidebar which exports the entire project as a list of page items of consequences to a PowerPoint presentation which can then be embedded elsewhere.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What export formats are currently supported?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    Only Microsoft Powerpoint Presentation(.ppt or .pptx) is currently supported. 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">How do I view all my policies?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    Clicking the "View Policies" option in the left sidebar will open a modal window with the list of user created policies displayed in a tabular format.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Is there an autosave option?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    There is an autosave functionality which runs in the background which automatically saves the work in progress every 60 seconds to prevent any major loss due to some system crash or inaccessibility.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">What type of search options are provided?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    There are two ways the user search the consequences of the project. First is through consequence name and the other is through the policy names that are tagged to the consequences.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">What happens if the search text is not found?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    If the search term is not found in the consequence tree, then a not found message is displayed to the user.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Can I delete my account?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes. There is a "Delete account" option which will delete all user information and user projects from the database.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">How do I share my project with another person?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    This functionality is currently not available.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Are there any configurable application settings?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    There are none currently. They may be introduced in the future revisions of the tool.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">What color codes are used in the application?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    The consequence nodes are assigned three colors based on their impact. Green is used for positive impact, red for negative impact and white for neutral. When searching for any consequence term, if a match is found, the path from the main event to the matching consequence node is highlighted in red.
                </div>
            </div>
        </div>

        <div class="faqHeader">Known Issues in the application</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Known issues?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    Here are the list of known issues in the application.
                    <ul>
                        <li>When a action is triggered in the canvas where the futures wheel is in view, the futures wheel automatically moves to the top left of the workspace. The resolution for this is to drag the canvas and bring the futures wheel into view.</li>
                        <li>When the futures wheel gets too condensed with many consequences at a level, there may arise a situation when there is a overlap between consequences at multiple levels. This issue can resolved by collapsing the children of some consequences by clicking the nodes.</li>                    
                    </ul> 
                </div>
            </div>
        </div>        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseKnownIssue">Report a new issue</a>
                </h4>
            </div>
            <div id="collapseKnownIssue" class="panel-collapse collapse">
                <div class="panel-body">
                    If you have identified a new issue in the tool, please contact LAS or log a new issue in the Git repo page <a target="_blank" href="https://github.com/LAS-NCSU/AnticipatoryThinking/issues">here</a>. This will help us make the tool even better in future revisions.
                </div>
            </div>
        </div> 
    </div>
</div>

<!-- Bootstrap FAQ - END -->

</div>

</body>
</html>