html, body, .container{
    height: 100%;
}

.row{
	margin: 0; 
}

.popover {
	background-color: lightsteelblue;
	border-color: lightsteelblue;
	color: black;
	font-family: Verdana;
}

.popover.right .arrow:after {
	border-right-color: lightsteelblue;
}

.fill {
    width:100%;
    height:100%;
    min-height:100%;
}

.overlay {
	background-color: white;
}

.left-panel {
    height:100%;
    min-height:100%;
	padding: 0 5px;
	background-color:white;
    border-right: 1px solid grey;
}

.right-panel {
    height:100%;
    min-height:100%;
	padding: 0;
	display: block;
	margin-top: 5px;
}
.node {
    cursor: pointer;
}

.overlay{
    background-color:white;
}
 
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
 
.node text {
    font-size:1 em; 
    font-family:sans-serif;
}
 
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}

.hidden {
    display: none;
}

.container {
    width: 100%;
    padding: 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.consequence-types{
    margin-top: 15px;
}

.form-group-con-type-disable{
    margin-bottom: 0px;
}

.col-md-12 {
	height: 100%;
}

.glyphicon-margin{
    margin-right: 4px;
}

.create-button {
    width: 100%;
    margin-bottom: 6px;
    background-color: lightsteelblue;
}

.welcome-section {
    margin-bottom: 10px;
    display: inline-flex;
}

.event-margin{
	margin-bottom: 6px;
}

.copyright {
    text-align: center;
    font-size: 12px;
}

.policies {
    margin-top: 8px;
}

.cb-margin {
    margin-left: 20px;
}

.panel-login {
	margin-top: 20px;
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #53A3CD;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"],.panel-login input[type="select"] {
	height: 36px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}
.btn-login {	
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;	
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
    background-color: #1CB94E;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
.forgot-password, .resend-email {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover, .resend-email:hover, .forgot-password:focus, .resend-email:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
    background-color: #1CB94E;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

.branding {
	text-align: center;
	text-transform: uppercase;
	max-width: 400px;
	margin-bottom: 10px;
	font-size: 20px;
}

.logo {
	float:left;
	width:64px;
	height:64px;
	margin-right:10px;
	margin-top: 12px;
}

.login-switch {
    margin-top: 4px;
}

.fw-alert{
	margin-bottom: 0px;
}

.fw-ig{
	margin-bottom: 15px;
}

.fw-ig:last-child{
	margin-bottom: 0px;
}

hr{
	margin-top: 0px;
	margin-bottom: -2px;
}

.popover-labels{
	font-weight: bold;
}

.info-group.required .control-label:before {
  content:"*";
  color:red;
}

.fw-proj-table-head{
	background-color: lightsteelblue;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}